<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/login.css">
  <title>Harvest</title>
</head>
<body>
  <div class="login-ro">
    <h1>Harvest</h1>
    <h2>ログイン</h2>
    <ul>
      <li><a href="/auth/github" class="login-box"><img src="../images/GitHub-Mark-64px.png" alt=""><p>GitHubでログイン</p></a></li>
      <li><a href="" class="login-box"><img src="../images/facebook-icon.png"><p>Facebookでログイン</p></a></li>
      <li><a href="" class="login-box"><img src="../images/Twitter-icon.png"><p>Twitterでログイン</p></a></li>
    </ul>
  </div>
</body>
</html>