html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-family:"Hiragino Kaku Gothic ProN W3",sans-serif;
}

header{
  height: 65px;
  background-color: #fff;
  color: #434a54;
  border-bottom: 1px solid #e3e4e8;
}

.headerInner{
  display: flex;
  flex: auto;
  justify-content:space-between;
  flex-wrap: wrap;
  padding:16px 0 16px 4%;
  text-align: center;
  font-weight: 300;
}

.logo{
  font-size: 30px;
}

.he{
  display:inline-block;
}

.login{
  color: #434a54;
  font-size: 16px;
}

.header-right{
  padding-right: 10px;
}

.login:hover{
  color: red;
}

.foo01{
  display: flex;
  justify-content: center;
  text-align: center;
}

.choice {
  width:140px;
  font-size:18px;
  padding: 17px;
  line-height: 15px;
  border: 1px solid #e3e4e8;
  border-bottom: none;
  color: #434a54;
}

.choice:hover{
  background-color: #434a54;
  color:#fff;
  opacity: 0.8;
}

/*.cho{
  border-right:none;
}*/

.choice1{
  background-color: #434a54;
  color:#fff;
  opacity: 0.8;
  width:140px;
  font-size:18px;
  padding: 17px;
  line-height: 15px;
  border-bottom: none;
  border: 1px solid #e3e4e8;
}

input,option{
  outline: none;
}

@media all and (max-width: 670px){

  .re-choice{
    position: fixed;
    bottom: 0;
    background-color: #434a54;
    color:#fff;
    opacity: 0.8;
    border: 1px solid #e3e4e8;
    width: 100%;
  }
   aside{
     display: none;
   }
}