body {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
      "...... ...... ...... ...... ......"
      "header header header header header" 
      "...... ...... ...... ...... ......"
      "center center center ...... right " 180%
      "...... ...... ...... ...... ......"
      /  20% auto 1fr auto 24% ;
}
header {
  grid-area: header;
}
main {
  grid-area: center;
  margin: 2%;
}
nav {
  grid-area: left;
  background-color:#f5f5f5;
}
aside {
  grid-area: right;
  background-color:#f5f5f5;
}
footer {
  grid-area: footer;
  background-color: chocolate;
}

.logo{
  color: #434a54;
}

.main-title{
  text-align: center;
}

.main-title{
  width: 100%;
  height: 590px;
}

input{
  outline: none;
}

.title{
  margin-bottom: 2% ;
  font-size: 24px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

.filesend{
  display: none;
}

.title-images{
  font-size: 16px;
  color: whitesmoke;
  height: 200px;
  margin: auto;
  opacity: 1;
  line-height: 570px;
}

.pre-images{
  z-index: 0;
  position: absolute;
  object-fit: contain;
  width: 73%;
}

.pre-images img{
  width: 100%;
  height: 560px;
}

.target{
  display: flex;
  flex-direction: column;
  height: 140px;
  color: rgba(0, 0, 0, 84);
  border-bottom: 1px solid #e3e4e8;
}

.twitter-share-button{
  border-radius:50%;
}

.fa{
  height: 40px;
  margin-right: 6px;
}

.middle-images{
  padding-top: 10%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.midlle-zone{
  width: 30%;
  display: flex;
  justify-content: center;
}

.images-text{
  width: 70%;
  display: flex;
  justify-content: center;
}

.flex-2item{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.balloon-line {
  position: relative; /* 三角の位置を固定するために設定 */
  width: 84%;
  height: 300px;
  padding: 20px; /* ふきだし内の余白 */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.pre-images02{
  z-index: 0;
  position: absolute;
  object-fit: contain;
  height: 150px;
  width: 150px;
}


.pre-images02 img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.fand-explanation{
  width: 100%;
}

.desition{
  text-align: center;
}

.fot{
  height: 160px;
  padding-top: 5%;
}

.desition-button{
  background-color: tomato;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  font-size: 20px;
}

.support{
  margin-left: 20px;
}

.fa-user-circle{
  align-items: center;
}

.Advertisement{
  height: 240px;
  object-fit: fill;
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}

.comment-room{
  height: 49%;
  background-color:#f5f5f5;
  padding-top: 10px;
}

.target-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.target-box01{
  display: flex;
  justify-content: space-between;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}